spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
    show-sql: false

  datasource:
    url: ${DATABASE_JDBC_URL}
    username: ${DATABASE_LOGIN_USERNAME}
    password: ${DATABASE_LOGIN_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
      table-name: SPRING_SESSION
server:
  servlet:
    session:
      timeout: 1d
      cookie:
        http-only: true
        secure: true
secrets:
  jwt-secret: ${JWT_SECRET}